.bagua{
    width: 100px;
    height: 200px;
    background: #ffac32;
    border-right:100px solid#000000;
    margin: 100px auto;
    border-radius: 50%;
    position: relative;
    transition: all 2s 1s;

}
.bagua:hover{
transform: rotate(360deg);
}
.bagua:before{
     content: "";
     display: block;
     width: 40px;
     height: 40px;
     background: #000000;
     border-radius: 50%;
     border: 30px solid #ffac32;
     position: absolute;
     top:0;
     left: 50%;
 }
.bagua:after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #ffac32;
    border-radius: 50%;
    border: 30px solid #000;
    position: absolute;
    bottom:0;
    left: 50%;
}